<%- include('includes/head'); %>
<%- include('includes/nav'); %>

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-3">
            <h1 class="text-center">Entrar</h1>
            <p class="text-center lead">continuar para minha agenda</p>

            <%- include('includes/messages'); %>

            <div class="row">


                <div class="col-lg my-5">
                    <h4>Cadastre-se</h4>
                    <p>Não tem uma conta? registre-se gratuitamente!</p>
                    
                    <form class="form-cadastro" action="/login/register" method="POST">
                        <input type="hidden" name="_csrf" value=<%=csrfToken %>>
                            <div class="form-group">
                                <label>E-mail</label>
                                <input type="email" class="form-control" name="email">
                            </div>
                            <div class="form-group">
                                <label>Senha</label>
                                <input type="password" class="form-control" name="password">
                            </div>
                            <br>
                            <button type="submit" class="btn btn-primary">Cria Conta</button>
                    </form>
                </div>


                <div class="col-lg my-5">

                    <h4>Faça Login</h4>
                    <p>efetue o login para usufruir de sua agenda pessoal.</p>
                    
                    <form class="form-login" action="/login/enter" method="POST">
                        <input type="hidden" name="_csrf" value=<%=csrfToken %>>
                            <div class="form-group">
                                <label>E-mail</label>
                                <input type="email" class="form-control" name="email">
                            </div>
                            <div class="form-group">
                                <label>Senha</label>
                                <input type="password" class="form-control" name="password">
                            </div>
                            <br>
                        <button type="submit" class="btn btn-primary">Entrar</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>


<%- include('includes/footer'); %>